{% extends "base.html" %} 
{% block title %}Home{% endblock %}
{% block content %}
<!-- Display Notes -->
<h1 align="center">Notes</h1>
<ul class="list-group list-group-flush" id="notes">
    <!-- We have access to user data because in views we set user=current_user-->
    {% for note in user.notes %}
    <li class="list-group-item">
        <!-- Note data -->
        {{ note.text }}
        <!-- Delete button, calls JS function deleteNote on click -->
        <button type="button" class="close" onClick="deleteNote({{ note.id }})">
            <span aria-hidden="true">&times;</span>
        </button>
        <!-- Timestamp -->
        <div align="right">
            <small>{{ note.date }}</small>
        </div>
    </li>
    <!-- TODO: Add timestamp-->
    {% endfor %}
</ul>
<!-- Add Notes -->
<form method="POST">
    <textarea name="note" id="note" class="form-control"></textarea>
    <br />
    <div align="center">
        <button type="submit" class="btn btn-primary">Add Note</button>
    </div>
</form>
{% endblock %}